DB_HOST=127.0.0.1
DB_USER=root
DB_PASS=sua_senha
DB_NAME=cloud_atividade
PORT=3000
TMDB_API_KEY=sua_chave_tmdb
JWT_SECRET=super_secreto


SMTP_HOST=sandbox.smtp.mailtrap.io
SMTP_PORT=2525
SMTP_USER=SEU_USER
SMTP_PASS=SUA_SENHA
PUBLIC_URL=http://localhost:8218
